body{
	background: #030d3e;
	color: #fff;
}
.all-wrapper{
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
}
#container{
	display: flex;
	justify-content: center;
	justify-content: space-between;
	align-items: flex-start;
}
#header{
	text-align: center;
}
.todayProblem,
.todaySolve{
	flex:1;
}
#left-middle{
	display: flex;
}
#left-middle>div{
	flex: 1;
}
.route{
	flex: 1.5;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.route>div{
	flex: 1;
}
#middle-top{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#left{
	flex:1;
}
#middle{
	flex:2;
}
#right{
	flex:1;
}
#left-bottom table{
	width:100%;
	border:1px solid #ccc;
	border-spacing: 0;
}
#middle-top{
	text-align: center;
}
#middle-middle{
	width: 100%;
	position: relative;
	overflow:hidden;
}
.personCard{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
}
.personCard>li{
	text-align: center;
	list-style: none;
}
.personCardArrow {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%,-50%,0);
	width:100%;
	color: #fff;
	padding: 30px;
	box-sizing: border-box;
}
.personCardArrow a{
	color: #fff;
	font-size: 20px;
	text-decoration: none;
}
.arrow-left{
	float: left;
}
.arrow-right{
	float: right;
}
.right-bottom table{
	width:100%;
	border: 1px solid #ccc;
}
