body{
	background: #030d3e;
	color: #fff;
}
.tabNavWrap,
.left-middle-wrap,
.lefttablebox,
.rightbottom,
.middle-middle-wrap,
.middle-bottom-wrap,
.middle-top-wrap{
	border: 1px solid #5b6288;
}
#left-middle,
#middle-middle,
#right-middle{
	margin-top: 15px;
	margin-bottom: 15px;
	padding-left:0;
}
.all-wrapper{
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
}
.lefttablebox{
	height: 268px;
	overflow: hidden;
}
#container{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	width: 100%;
/*	max-height: 900px;
overflow: hidden;*/
}
#header{
	text-align: center;
}
.todayProblem,
.todaySolve{
	flex:1;
}

.left-middle-wrap{
	display: flex;
	flex-direction: column;
}
.left-middle-wrap h3{
	font-size: 16px;
	font-weight: normal;
	color: #ccc;
	display: flex;
	justify-content: space-around;
}
.left-middle-wrap h3 span{
	padding: 10px;
	color: rgba(166, 209, 255, 0.38);
}
.raderbox{
	display: flex;
}
.route{
	flex: 1.5;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.route>div{
	flex: 1;
}
.middle-top-wrap{
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 182px;
}
#left{
	flex:1;
	display: flex;
	flex-direction: column;

}
#middle{
	flex:2;
	margin:0 1%;
}
#right{
	flex:1;
}
#left-bottom table{
	width:100%;
	max-width: 350px;
	border-spacing: 0;
	overflow: hidden;
	color: rgba(166, 209, 255, 0.38);
}
#middle-top{
	text-align: center;
}
#middle-middle{
	display: flex;
	flex-direction: column;
	width: 100%;
	position: relative;
	overflow:hidden;
}
.personCard{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	padding-left: 0;
}
.personCard>li{
	text-align: center;
	list-style: none;
	overflow: hidden;
	display: flex;
	justify-content: space-around;
}
.viewMore{
	text-align: right;
	position: relative;
	top: -78px;
    left: -53px;
}
.viewMore button{
	outline: none;
	border: none;
	padding:5px;
	margin-right: 15px;
	margin-bottom: 15px;
}
.personCard>li>div{
	display: inline-block;
}
.personCard button{
	outline: none;
	padding:5px;
	border: none;
}
.personCardArrow {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%,-50%,0);
	width:100%;
	color: #fff;
	padding: 30px;
	box-sizing: border-box;
}
.personCardArrow a{
	color: #fff;
	font-size: 20px;
	text-decoration: none;
}
.arrow-left{
	float: left;
}
.arrow-right{
	float: right;
}
.right-bottom table{
	width:100%;
	border: 1px solid #ccc;
}

.all-wrapper h2{
	text-align: left;
	color:rgba(166, 209, 255, 0.38);;
	margin-bottom: 2px;
	font-weight: normal;
	font-size: 22px;
	margin-top: 0;
}
.all-wrapper h2 small{
	font-weight: normal;
	font-size: 18px;
	margin-right: 10px;
}
#header h2{
	text-align: center;
}
.tabNav{
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: nowrap;
	list-style: none;
	padding-left:0;
	color: #7092d1;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 0;
}
.tabContent{
	overflow: hidden;
	display: flex;
	flex-shrink: 0;
	list-style: none;
	padding-left:0;
	flex-direction: column;
	justify-content: flex-start;
}
.tabContent li{
	width: 100%;
	display: none;
}
.tabContent li:first-child{
	display: block;
}

/*#right-bottom,
#left-bottom{
	height: 150px;
	overflow: hidden;
}*/
.barWrap{
	position: relative;
	overflow: hidden;
}
.arrowBar{
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate3d(-50%,-50%,0);
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.arrowBar a{
	color: #fff;
	text-decoration:none;
	font-size: 25px;
}
.barWrap ul{
	padding: 0 35px;
	list-style: none;
	display: flex;
	justify-content: flex-start;
}
.barWrap li{
	/*width: 50px;*/
	background-color: #0c303e;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	height: 217px;
	margin: 0 15px;
	text-align: center;
}
.barWrap li div{
	height: 20px;
	background-color: #2f8fbf;
}
.barWrap li span:nth-child(3){
	background-color: #030d3e;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	width: 69px;
	display: inline-block;
}
.personCard>li p{
	margin:35px 0 35px 0;
}
.chooseTime{
	text-align: left;
	margin-left: 15px;
	margin-top: 15px;
}
.timeDist{
	text-align: right;
	margin-right: 15px;
	margin-top: 15px;
}
.todayProblem h2,
.todaySolve h2{
	color: #5f8ab7;
	text-align: center;
}
.annother li,
.annother li div{
	background-color: transparent;
}
.timeDist button,
.chooseTime button{
	background: transparent;
	outline: none;
	border: none;
	color: rgba(166, 209, 255, 0.38);
}
.chooseTime{
	text-align: center;
}
#routeTime,
#faultDate{
	background: transparent;
	outline: none;
	border: none;
	color: rgba(166, 209, 255, 0.38);
}
.left-middle-wrap{
	height: 300px;
}
.rightboxbtn{
	text-align: right;
}
.rightboxbtn button{
	outline: none;
	border: none;
	margin-top: 15px;
	margin-right: 15px;
	background: transparent;
	color: rgba(166, 209, 255, 0.38); 
}
.poptableMask{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
}
.poptable{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%,-50%,0);
	max-width: 65%;
	color: #000;
	background-color: #fff;
	padding: 15px;
	box-sizing: border-box;
	min-height: 629px;
}
.poptitle{
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}
.poptitle h2{
	flex-basis: 50%;
	text-align: center;
	margin-bottom: 0;
	font-weight: normal;
	font-size: 16px;
	text-align: left;
}
.poptable p{
	font-size: 20px;
	margin: 0;
}
.imgCarouselbox,
.imgCarouselbox2{
	width: 90%;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}
.imgCarouselbox ul,
.imgCarouselbox2 ul{
	padding-left: 0;
	margin:0;
	list-style: none;
	display: flex;
	justify-content: flex-start;
	flex-wrap: nowrap;
	align-items: center;
}
.imgCarouselArrow,
.imgCarouselArrow2{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	font-size: 20px;
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.imgCarouselArrow a,
.imgCarouselArrow2 a{
	display: inline-block;
	width: 30px;
	height: 30px;
	color: #000;
	font-size: 30px;
	text-decoration: none;
	line-height: 30px;
	text-align: center;
}
.imgCarouselbox li img,
.imgCarouselbox2 li img{
	width: 100%;
	height: 200px;
}

.closeTablePop{
	text-align: right;
	color: #000;
	margin: 0;	
	cursor: pointer;
}
.poptableMask,
.poptable{
	display: none;
}
#smallmap{
	width: 300px;
	height: 300px;
	position: absolute;
	top: 20%;
	right: 10%;
	display: none;
	z-index: 10;
}
.controllTab{
	display: flex;
	justify-content: flex-start;
	list-style: none;
	padding: 0;
	margin:5px 0;
}
.controllTab li{
	padding: 5px;
}
.controllTab li.active{
	background: #184682;
	color: #fff;
}
.repairTitle{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.repairTitle h2{
	flex-basis: 50%;
	margin-bottom: 0;
}
.repairBox{
	position: absolute;
	width: 100%;
	opacity: 0;
}
.applyBox{
	position: relative;
}
.imgCarouselbox li{
    box-sizing: border-box;
}
#left-bottom table td{
	overflow: hidden;
}
#left-bottom table td span{
	display: inline-block;
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
@media screen and (max-width: 1024px) {
	#left-bottom table td{
		max-width: 54px;
	}
}
.declareBox,
.sendReparir{
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}
.declareBox h2,
.sendReparir h2{
	width: 50%;
	font-weight: normal;
	font-size: 16px;

}
.declareBox .de-descript,
.declareBox .de-location,
.sendReparir .de-location,
.sendReparir .re-desc{
	width: 100%;
}
.bigPic{
	width: 80%;
	position: fixed;
	top: 10%;
	left: 50%;
	transform: translateX(-50%);
	display: none;
}
.bigPic img{
	width: 100%;
}
.bigPic h2{
	text-align: right;
	color: #fff;
	font-size: 50px;
	cursor: pointer;
	position: absolute;
	right: 30px;
    top: 0;
    margin: 0;
}