body{
	background: #030d3e;
	color: #fff;
}
.tabNavWrap,
.left-middle-wrap,
.lefttablebox,
#rightBar,
.middle-middle-wrap,
.middle-bottom-wrap,
.middle-top-wrap{
	border: 1px solid #5b6288;
}
#left-middle,
#middle-middle,
#right-middle{
	margin-top: 15px;
	margin-bottom: 15px;
	padding-left:0;
}
.all-wrapper{
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
}
#container{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	width: 100%;
/*	max-height: 900px;
overflow: hidden;*/
}
#header{
	text-align: center;
}
.todayProblem,
.todaySolve{
	flex:1;
}

.left-middle-wrap{
	display: flex;
	flex-direction: column;
}
.left-middle-wrap h3{
	font-size: 16px;
	font-weight: normal;
	color: #ccc;
	display: flex;
	justify-content: space-around;
}
.left-middle-wrap h3 span{
	padding: 10px;
	color: rgba(166, 209, 255, 0.38);
}
.raderbox{
	display: flex;
}
.route{
	flex: 1.5;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.route>div{
	flex: 1;
}
.middle-top-wrap{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
#left{
	flex:1;
	display: flex;
	flex-direction: column;

}
#middle{
	flex:2;
	margin:0 1%;
}
#right{
	flex:1;
}
#left-bottom table{
	width:100%;
	border-spacing: 0;
	overflow: hidden;
	color: rgba(166, 209, 255, 0.38);
}
#middle-top{
	text-align: center;
}
#middle-middle{
	display: flex;
	flex-direction: column;
	width: 100%;
	position: relative;
	overflow:hidden;
}
.personCard{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	padding-left: 0;
}
.personCard>li{
	text-align: center;
	list-style: none;
	overflow: hidden;
	display: flex;
	justify-content: space-around;
}
.viewMore{
	text-align: right;
}
.viewMore button{
	outline: none;
	border: none;
	padding:5px;
	margin-right: 15px;
	margin-bottom: 15px;
}
.personCard>li>div{
	display: inline-block;
}
.personCard button{
	outline: none;
	padding:5px;
	border: none;
}
.personCardArrow {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%,-50%,0);
	width:100%;
	color: #fff;
	padding: 30px;
	box-sizing: border-box;
}
.personCardArrow a{
	color: #fff;
	font-size: 20px;
	text-decoration: none;
}
.arrow-left{
	float: left;
}
.arrow-right{
	float: right;
}
.right-bottom table{
	width:100%;
	border: 1px solid #ccc;
}

.all-wrapper h2{
	text-align: left;
	color:rgba(166, 209, 255, 0.38);;
	margin-bottom: 2px;
	font-weight: normal;
	font-size: 22px;
	margin-top: 0;
}
.all-wrapper h2 small{
	font-weight: normal;
	font-size: 18px;
}
#header h2{
	text-align: center;
}
.tabNav{
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: nowrap;
	list-style: none;
	padding-left:0;
	color: #7092d1;
	font-size: 20px;
	font-weight: bold;
}
.tabContent{
	overflow: hidden;
	display: flex;
	flex-shrink: 0;
	list-style: none;
	padding-left:0;
}
.tabContent li{
	width: 100%;
	display: none;
}
.tabContent li:first-child{
	display: block;
}

/*#right-bottom,
#left-bottom{
	height: 150px;
	overflow: hidden;
}*/
.barWrap{
	position: relative;
	overflow: hidden;
}
.arrowBar{
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate3d(-50%,-50%,0);
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.arrowBar a{
	color: #fff;
	text-decoration:none;
	font-size: 25px;
}
.barWrap ul{
	padding: 0 35px;
	list-style: none;
	display: flex;
	justify-content: flex-start;
}
.barWrap li{
	/*width: 50px;*/
	background-color: #0c303e;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	height: 250px;
	margin: 0 15px;
	text-align: center;
}
.barWrap li div{
	height: 20px;
	background-color: #2f8fbf;
}
.barWrap li span:nth-child(3){
	background-color: #030d3e;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	width: 65px;
}
.personCard>li p{
	margin:0;
}
.chooseTime{
	text-align: left;
	margin-left: 15px;
	margin-top: 15px;
}
.timeDist{
	text-align: right;
	margin-right: 15px;
	margin-top: 15px;
}
.todayProblem h2,
.todaySolve h2{
	color: #5f8ab7;
	text-align: center;
}
.annother li,
.annother li div{
	background-color: transparent;
}
.timeDist button,
.chooseTime button{
	background: transparent;
	outline: none;
	border: none;
	color: rgba(166, 209, 255, 0.38);
}
.chooseTime{
	text-align: center;
}
#routeTime{
	background: transparent;
	outline: none;
	border: none;
	color: rgba(166, 209, 255, 0.38);
}
